/* Define the main Navigation block */
.navBar {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    height: 100px;
    line-height: 50px;
    background-color: white;
    justify-content: space-around;
    
}

@media (max-width: 800px){
    .navBar{
        padding: 0% 5%;
    }

    .navBar li {
        font-size: 4vw;
    }
}
/* Remove bullets, margin and padding */
.navBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #0a97f5;
    font-size: 2vw;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
}

.navBar li {
    padding-top: 20px;
    display: inline-block;
    position: relative;
    color: #0a97f5;
    cursor: pointer;
}

.navBar li:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: -4px;
    left: 0;
    background-color: #0a97f5;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
  .navBar li:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

/* Define the block styling for the links */
.navBar li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}
/* This is optional, however if you want to display the active link differently apply a background to it */
.navBarActive {
   border-bottom: 5px solid #0a97f5;
   
}

 

.navBarli {
   
    background-color: transparent;
}